
/* ////////////////////////////////////////////////////////////////////////// */
/* IMPORTS AND LOADING ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: inherit;
}

body {
  background-color: #111;
  height: 500vh;
  font-family: 'Russo One', sans-serif;
}




/* ////////////////////////////////////////////////////////////////////////// */
/* Global /////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */








/* ////////////////////////////////////////////////////////////////////////// */
/* Navbar //////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */



.navbar {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 86px;
  background-color: #222;
  transition: width 0.3s ease-in-out;
  z-index: 10;
  flex-direction: column;
}

.navbar .navbarTitle {
  font-size: 30px;
  color: #09f;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #09f;
  margin: 10px;
}

.navbar .navbarButton {
  max-height: 50px;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, margin 0.25s ease-in-out;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 3px solid #555;
  user-select: none;
}

.navbar .active {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #555;
}

.navbar .icon {
  color: #09f;
  overflow: hidden;
  font-size: 40px !important;
  margin-right: 5px;
  min-width: 40px;
  user-select: none;
}

.navbarButton p {
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  font-size: 1.25rem;
}



/* ////////////////////////////////////////////////////////////////////////// */
/* PAGES //////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */



.page { 
  position: absolute;
  transition: opacity 0.3s ease-in-out;
       
  min-height: 500px;
  height: fit-content;
  width: calc(100% - 86px) !important;
  
  left: 86px;
  padding: 15px;
  padding-top: 100px;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
}

.page .section {
  min-height: 100px;
  min-width: 100px;
  background-color: #444;
  border: 3px solid #333;
  border-radius: 15px;
  padding: 10px;
  /*box-shadow: 0 0 10px #09f;*/
}

.page .sectionGroup {
  display: flex;
  gap: 10px
}

.page .title {
  position: fixed;
  left: 86px;
  top: 0px;

  width: calc(100vw - 86px);

  font-size: 50px;
  color: #fff;
  background: #444;
  
  border-bottom: 3px solid #09f;

  padding: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.page .sectionTitle {
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
}

.page .sectionPill {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #555;
  width: fit-content;
}

.page .sectionPillButton {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #555;
  width: fit-content;
  height: fit-content;
  float: right;
  margin-right: 5px;
}



/* ////////////////////////////////////////////////////////////////////////// */
/* Notes Page /////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */



.notesSection {
  width: 49.5%;
  height: -webkit-fill-available;
}

.notesTitle {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
  margin: 5px;
}

.notesPara {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 10px;
  white-space: pre-line;
}

.notesSubInfo {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: #aaa;
}

.notesButton {
  color: #fff;
  float: right;
  overflow: hidden;
  margin-right: 5px;
  user-select: none;
}

.notesTextBox {
  font-size: 20px;
  color: #fff;
  background: #555;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  width: calc(100% - 20px);
  height: 35px;
  resize: none;
  overflow: hidden;
}

.notesClampedText {
  display: -webkit-box;
  -webkit-line-clamp: 5;            /* 👈 limits to 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}